<!DOCTYPE html>
<html>
<head>
    <title>Student Marks</title>
<style>
body{background-image:source url("/students_app/static/Images/1.jpg");
          background-color: orange;}
</style>
</head>
  <body>

    <h1 style = "color:blue; font-size:80px;"><center>Student Marks</center></h1>
    </br>
    </br>
    <a style = "color:blue; font-size:40px;" href="http://127.0.0.1:8000/best_faculty/" >1.Faculty with more students scoring above 90%.</a>
    </br>
    </br>
    <a style = "color:blue; font-size:40px;" href="http://127.0.0.1:8000/best_pass_faculty/">2.Faculty with highest pass percentage. </a>
    </br>
    </br>
    <a style = "color:blue; font-size:40px;" href="http://127.0.0.1:8000/worst_faculty/">3.Faculty with least pass percentage.</a>
    </br>
    </br>
    <a style = "color:blue; font-size:40px;" href="http://127.0.0.1:8000/best_student/">4.Best overall Student.</a>
    </br>
    </br>
    <a style = "color:blue; font-size:40px;" href="http://127.0.0.1:8000/challenger/">5.Student with least total.</a>
    </br>
    </br>
    <a style = "color:blue; font-size:40px;" href="http://127.0.0.1:8000/best_math_student/">6.Best Student in Mathematics.</a>
    </br>
    </br>
    <a style = "color:blue; font-size:40px;" href="http://127.0.0.1:8000/subject_average/">7.Subject Averages.</a>


  </body>
</html>
